.app-container {
    text-align: center;
}

.inputs-div {
    margin: 20px auto;

}

.time-entries {
    display: inline-block;
    margin: 0 5%;
    width: 40%;
}

.school-entries {
    display: inline-block;
    margin: 0 5%;
    width: 40%;
}
