.app-container {
    background-attachment: fixed;
    background-image: url('./images/bg');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.inputs-div {
    margin: 20px auto;

}

.time-entries {
    display: inline-block;
    margin: 0 5%;
    width: 40%;
}

.school-entries {
    display: inline-block;
    margin: 0 5%;
    width: 40%;
}

#grid {
    text-align: left;
}

table {
    border-collapse: collapse;
    margin: 25px auto;
}

table, th, td {
    border: 1px solid;
}